.ri-menu-line:before { content: "\ef3e"; }
.ri-close-line:before { content: "\eb99"; }
.ri-arrow-right-down-line:before { content: "\ea6a"; }
.ri-checkbox-fill:before { content: "\eb82"; }
.ri-phone-line:before { content: "\efec"; }
.ri-mail-line:before { content: "\eef6"; }
.ri-facebook-fill:before { content: "\ecbc"; }
.ri-whatsapp-fill:before { content: "\f2bb"; }
.ri-arrow-up-fill:before { content: "\ea75"; }
.ri-instagram-line:before { content: "\ee66"; }
